body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

button {
    border: 0;
    background-color: rgb(40, 40, 40);
    color: inherit;
    font: inherit;
}

button:hover {
    background-color: rgb(50, 50, 50);
}

button:active {
    background-color: rgb(45, 45, 45);
}

#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    --scale: min(50vw, 100vh);
    --size: calc(var(--scale) * 0.8);
    width: calc(var(--size) * 2);
    height: calc(var(--size));
    background-color: rgb(20, 20, 20);
}

#game-history {
    font-size: calc(var(--scale) * 0.03);
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    color: white;
    overflow-y: scroll;
}

#board-container {
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 100%;
}

#right-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#new-game {
    flex: 1;
    font-size: calc(var(--scale) * 0.06);
}

.eval {
    flex: 1;
    white-space: pre;
    font-size: calc(var(--scale) * 0.03);
}

#board {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#promotions {
    position: absolute;
    display: flex;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 12.5%;
    margin: 0;
    padding: 0.5%;
    background: linear-gradient(burlywood, burlywood) content-box, black;
}

#promotions > button {
    width: 25%;
    height: 100%;
    border: 0;
}

#new-game-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#new-game-panel > * {
    flex: 1;
    font-size: calc(var(--scale) * 0.06);
}

#think-time-container {
    background-color: rgb(40, 40, 40);
    display: flex;
    align-items: center;
    justify-content: center;
}

#think-time {
    font-size: calc(var(--scale) * 0.04);
    color: inherit;
    background: rgb(50, 50, 50);
    border: none;
    width: calc(var(--scale) * 0.11);
}

.highlighted {
    box-shadow: inset 0 0 3px 3px #ff0;
}
